@media only screen and (max-width: 768px) {
  .ingredients .directions {
    width: 100%;
    float: none;
  }
}
body {
  margin: 1em;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: burlyWood;
  color: brown;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
}

body {
  margin: 1em;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: burlyWood;
  color: brown;
}

h1 {
  text-align: center;
  background-color: brown;
  background-image: url("/img/pizza.png");
  position: relative;
  color: burlyWood;
  border-radius: 8px;
  font-weight: 700;
  width: auto;
  height: 50px;
}

h2 {

}

.tooltip {
  position: relative;
  border-bottom: 1px dotted brown;
}

#note:hover {
  background: brown;
  color: burlyWood;
  cursor: pointer;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 249px;
  background-color: brown;
  color: burlyWood;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
}

.tooltip > li > .listAmounts {
  text-align: right!important;
}

.tooltip:active .tooltiptext {
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .ingredients {
    width: 40%;
    float: left;
    padding: 2.5%;
    width: auto;
    height: 100%;
    height: 90%;
    padding-top: 1em;
    line-height: 1.75em;
  }

  .directions {
    width: 65%;
    height: 100%;
    float: left;
    padding: 2.5%;
    line-height: 2.25em;
    padding-top: 1em;
  }

  .divider {
    float: left;
    width: 3px;
    content "";
    background-color: brown;
    height: 400px;
    padding-top: 15%;
    border-radius: 8px
  }

}

.starterIngredients {

}

.wetIngredients {

}

.dryIngredients {

}

.listItems {
  text-align: left;
  float:left;
}

footer {
  background-color: brown;
  border-radius: 8px;
  width: auto;
}

.listAmounts {
  text-align: right;
  float: right;
}
