@media only screen and (max-width: 768px) {
  .ingredients .directions {
    width: 100%;
    float: none;
  }
}
body {
  margin: 1em;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: burlyWood;
  color: brown;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
}

body {
  margin: 1em;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: burlyWood;
  color: brown;
}

h1 {
  text-align: center;
  background-color: brown;
  color: burlyWood;
  border-radius: 8px;
  font-weight: 700;
  width: auto;
}

h2 {
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted brown;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 249px;
  background-color: brown;
  color: burlyWood;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
}

.tooltip:active .tooltiptext {
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .ingredients {
    width: 40%;
    float: left;
    padding: 2.5%;
    width: auto;
    height: 100%;
    height: 90%;
  }

  .directions {
    width: 65%;
    height: 100%;
    float: left;
    padding: 5%;
    text-align: center;
  }

  .divider {
    float: left;
    width: 3px;
    content "";
    background-color: brown;
    height: 400px;
    padding-top: 15%;
    border-radius: 8px
  }

}

.starterIngredients {

}

.wetIngredients {

}

.dryIngredients {

}

.listItems {
  text-align: left;
  float:left;
}

footer {
  background-color: brown;
  border-radius: 8px;
  width: auto;
}

.listAmounts {
  text-align: right;
  float: right;
}
